@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;700&family=Roboto+Condensed:wght@300;700&display=swap');
    /* --mainGreen: #02A676;
    --bgGreen: #007369;
    --darkGreen: #003840; */
/*
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
*/

.body {
    background-color: white;
    width: 100%;
    height: 100vh;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.headerBar {
    position: absolute;
    top: 0;
    display: flex;
    height: 5em;
    width: 100%;
    padding-inline: 0em;
    padding-top: 0.5em;
    margin-left: 1em;
}

.title {
    color: #003840;
    font-size: large;
    display: flex;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.tab {
    color:#003840;
    padding-top: 0.15em;
    width: auto;
    padding-left: 1em;
    text-align: center;
    font-weight: 300;
}

.tablogin {
    color: #003840;
    padding-top: 0.15em;
    width: auto;
    position: absolute;
    right: 2.5em;
    padding-left: 1em;
    text-align: center;
    font-weight: 300;
}

.tab a:hover {
    cursor: pointer;
    color: rgb(42, 70, 57);
}

.about {
    height: 50%;
    background-color: white;
}

.more {
    height: 50%;
    background-color: #02A676;
}